
body {
    font-family: 'Sen', sans-serif;
    background-color: darkslategrey;
    margin: 0px;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed;
    top: 0;
}

.navbar-container{
    display: flex;
        align-items: center;
        padding: 0 50px;
        height: 100%;
        color: white;
        
}

.logo-container{
    flex: 1;
}


.menu-container{
    flex: 2;
}

.menu-list{
    display: flex;
    list-style: none;
    font-family: 'sans-serif';
}

.menu-container-item{
    margin-right: 30px;
}
.menu-container-item.active{
    font-weight: bold;
}

.profile-container{
    flex: 2;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-text-container{
    margin: 0 20px;
}

.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.toggle{
    height: 20px;
    width: 40px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon{
    color: goldenrod;
    
}

.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: rgb(56, 50, 50);
    position: absolute;
    right: 1px;
    border-radius: 45%;
    cursor: pointer;
}

/* .sidebar{
    height: 100%;
    width: 50px;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction:column ;
    align-items: center;
} */

/* .left-menu-icon{
    color: white;
    font-size: 20px;
    margin-top: 60px;
} */

.container{
    background-color: #151515;
   min-height: calc(100vh - 50px);
    color: white;
}

/* .content-container{
    margin-left: 50px;
} */

.feature-content{
    height: 50vh; 
    padding: 50px;
}
.featured-title{
    width: 200px;
    margin: 30px 0px;
}

.featured-desc{
    width: 500px;
    margin: 30px 0px;
}

.featured-button{
    background-color:black ;
    color: white;
    padding:10px ;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: bold;
}

.movie-list-container{
    padding: 20px;
    margin-top: 30px;
}

.movie-list-wrapper{
    position: relative;
}

.movie-list{
        display: flex;
        align-items: center;
        height: 300px;
        color: white;

    }

.movie-list-item{
        margin-right: 30px;
        position: relative;
    }

.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}
.movie-list-item:hover .movie-list-item-title{
    opacity: 1;
}

.movie-list-item:hover .movie-list-item-desc{
    opacity: 1;
}

.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}

.movie-list-item-img{
    width: 270px;
    height: 200px;
    object-fit: cover;
    transition: all 1s ease-in-out;
    margin-top: 30px;
}

/* .movie-list-item-desc{
    width: 200px;
    margin: 20px;
} */

.movie-list-item-title{
    background-color: rgb(46, 40, 40);
    padding: 0 10px;
    font: 24px;
    font-weight: bold;
    position: absolute;
    top: 18%;
    left: 15px;
    opacity: 0;
    transition: 1s all ease-in-out
}

.movie-list-item-desc{
    background-color: rgb(46, 40, 40);
    padding:10px;
    font: 10px;
    position: absolute;
    top: 30%;
    left: 40px;
    width: 200px;
    opacity: 0;
    transition: 1s ease-in-out;
}

.movie-list-item-button{
    background-color:black ;
    color: white;
    padding:10px ;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 100%;
    opacity: 0;
}

.arrow{
    font-size: 120px;
    position: absolute;
    top: 100px;
    right: 0;
    color: white;
    opacity: 0.5;
    cursor: pointer;
}
